---
import { prisma as db } from "@mono/db";
import { slugify } from "../../utils/slugify";

export async function getStaticPaths() {
  const departments = await db.goldDepartment.findMany({
    include: { 
      productLines: {
        include: { goldBrand: true },
        orderBy: { mentionCount: 'desc' }
      }
    }
  });

  return departments.map(dept => {
    return {
      params: { department: slugify(dept.canonicalName) },
      props: { department: dept },
    };
  });
}

const { department } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{department.canonicalName} - BIFL</title>
  </head>
  <body>
    <nav><a href="/">Home</a> &gt; {department.canonicalName}</nav>
    <h1>Department: {department.canonicalName}</h1>
    
    <h2>Top Associated Product Lines</h2>
    <ul>
      {department.productLines.map((line: any) => (
        <li>
          <a href={`/product/${slugify(line.goldBrand.canonicalName)}/${slugify(line.canonicalName)}`}>
            {line.goldBrand.canonicalName} {line.canonicalName} ({line.mentionCount} Mentions)
          </a>
        </li>
      ))}
    </ul>
  </body>
</html>
